* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body {
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:22px;
	color: #666;
	font-weight: 300;
}

header {
	background:#333;
}

section {
	padding:5em 0;
}

nav a {
	color: #B6CBF5;
	margin: 20px;
	border-bottom: none;
}

h1, h2, h3 {
	font-family: Rockwell, serif;
}

p {
	margin: 1em 0;
}

a {
	color: #cc0000;
	text-decoration: none;
	border-bottom: 1px solid #cc0000;
}

a:hover {
	color: #fff;
}

#lander {
    background: url(../images/statue.jpg);
    background-position: center left;
    background-repeat:no-repeat;
    /* background-size: cover; */
    padding: 10em 0 0;
    height: 100vh;
    text-align: left;
    color: #fff;
}

#lander div {
	width:40em;
}

#StateYourPath {
	margin-left: 10px;
}

.cta {
	display:inline-block;
	padding:1em;
	background: #cc0000;
	color:#fff;
}
.headerBanner {
	width:20em;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

