* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/statue.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	font-family: Rockwell;
	color: #ffffff;
	font-weight: 300;
}

a {
	color: #cc0000;
	text-decoration-line: none;
}

footer {
	text-align: center;
	padding: 50px;
}



