body {
	text-align: center;
	font-family: Rockwell;
	font-size: 22px;
	background: url('../images/statue.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center
}